[submodule "docker/third_party/github.com/solo-io/packer-builder-arm-image"]
	path = docker/third_party/github.com/solo-io/packer-builder-arm-image
	url = https://github.com/solo-io/packer-builder-arm-image
[submodule "docker/third_party/github.com/YaleUniversity/packer-provisioner-goss"]
	path = docker/third_party/github.com/YaleUniversity/packer-provisioner-goss
	url = https://github.com/YaleUniversity/packer-provisioner-goss
